<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @documentation.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @documentation.short_name %>
</p>

<p>
  <strong>Download url:</strong>
  <%= @documentation.download_url %>
</p>

<%= link_to 'Edit', edit_documentation_path(@documentation) %> |
<%= link_to 'Back', documentations_path %>
